<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>

    <application
        android:name=".core.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/appName"
        android:networkSecurityConfig="@xml/network_security_config"
        android:resizeableActivity="true"
        android:supportsRtl="true"
        android:exported="true"
        tools:targetApi="n">
        <activity
            android:name=".activities.MergePullRequestActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|keyboard|keyboardHidden|navigation"/>
        <activity
            android:name=".activities.FileViewActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|keyboard|keyboardHidden|navigation"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.CreateFileActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|keyboard|keyboardHidden|navigation"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.RepoWatchersActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|keyboard|keyboardHidden|navigation"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.RepoStargazersActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|keyboard|keyboardHidden|navigation"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.AdminGetUsersActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|keyboard|keyboardHidden|navigation"/>
        <activity
            android:name=".activities.AdminUnadoptedReposActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|keyboard|keyboardHidden|navigation"/>
        <activity
            android:name=".activities.CreateReleaseActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|keyboard|keyboardHidden|navigation"/>
        <activity
            android:name=".activities.EditIssueActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|keyboard|keyboardHidden|navigation"/>
        <activity
            android:name=".activities.CreateNewUserActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|keyboard|keyboardHidden|navigation"/>
        <activity
            android:name=".activities.AccountSettingsEmailActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|keyboard|keyboardHidden|navigation"/>
        <activity
            android:name=".activities.AddCollaboratorToRepositoryActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|keyboard|keyboardHidden|navigation"/>
        <activity
            android:name=".activities.CreateTeamByOrgActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|keyboard|keyboardHidden|navigation"/>
        <activity
            android:name=".activities.OrganizationTeamInfoActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|keyboard|keyboardHidden|navigation"/>
        <activity
            android:name=".activities.OrganizationDetailActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|keyboard|keyboardHidden|navigation"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.CreateLabelActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|keyboard|keyboardHidden|navigation"/>
        <activity
            android:name=".activities.CreateIssueActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|keyboard|keyboardHidden|navigation"/>
        <activity
            android:name=".activities.CreateMilestoneActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|keyboard|keyboardHidden|navigation"/>
        <activity
            android:name=".activities.IssueDetailActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|keyboard|keyboardHidden|navigation"
            android:windowSoftInputMode="adjustNothing"/>
        <activity
            android:name=".activities.RepoDetailActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|keyboard|keyboardHidden|navigation"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|keyboard|keyboardHidden|navigation"
            android:exported="true"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name=".activities.CreateRepoActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|keyboard|keyboardHidden|navigation"/>
        <activity
            android:name=".activities.CreateOrganizationActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|keyboard|keyboardHidden|navigation"/>
        <activity
            android:name=".activities.DiffActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name=".activities.CommitsActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|keyboard|keyboardHidden|navigation"/>
        <activity
            android:name=".activities.CommitDetailActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|keyboard|keyboardHidden|navigation"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name=".activities.SettingsAppearanceActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|keyboard|keyboardHidden|navigation"/>
        <activity
            android:name=".activities.SettingsCodeEditorActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|keyboard|keyboardHidden|navigation"/>
        <activity
            android:name=".activities.ProfileActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|keyboard|keyboardHidden|navigation"/>
        <activity
            android:name=".activities.SettingsSecurityActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|keyboard|keyboardHidden|navigation"/>
        <activity
            android:name=".activities.AddNewTeamMemberActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|keyboard|keyboardHidden|navigation"/>
        <activity
            android:name=".activities.AddNewTeamRepoActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|keyboard|keyboardHidden|navigation"/>
        <activity
            android:name=".activities.RepoForksActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|keyboard|keyboardHidden|navigation"/>
        <activity
            android:name=".activities.AddNewAccountActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|keyboard|keyboardHidden|navigation"/>
        <activity
            android:name=".activities.RepositorySettingsActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|keyboard|keyboardHidden|navigation"/>
        <activity
            android:name=".activities.CreatePullRequestActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|keyboard|keyboardHidden|navigation"/>
        <activity
            android:name=".activities.SettingsGeneralActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|keyboard|keyboardHidden|navigation"/>
        <activity
            android:name=".activities.SettingsNotificationsActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|keyboard|keyboardHidden|navigation"/>
        <activity
            android:name=".activities.AdminCronTasksActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|keyboard|keyboardHidden|navigation"/>
        <activity
            android:name=".activities.WikiActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|keyboard|keyboardHidden|navigation"/>
        <activity
            android:name=".activities.CodeEditorActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|keyboard|keyboardHidden|navigation"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".activities.CreateNoteActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|keyboard|keyboardHidden|navigation"
            android:windowSoftInputMode="adjustResize" />

        <meta-data
            android:name="com.samsung.android.keepalive.density"
            android:value="true"/> <!-- Version >= 3.0. DeX Dual Mode support -->
        <meta-data
            android:name="com.samsung.android.multidisplay.keep_process_alive"
            android:value="true"/> <!-- deep links -->
        <activity
            android:name=".activities.DeepLinksActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:host="codeberg.org"/>
                <data android:host="gitea.com"/>
                <data android:host="try.gitea.io"/>
                <data android:host="code.obermui.de"/>
                <data android:host="git.fsfe.org"/>
                <data android:host="opendev.org"/>
            </intent-filter>
        </activity>
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.BROWSABLE"/>
            <data android:scheme="https" />
        </intent>
    </queries>

</manifest>
